<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%= link_to "RSVP", new_response_path %>
