<h1>Accomodation</h1>
<p>We will be staying at the Richmond Harbour Hotel on the night of the wedding. They have kindly offered a discount of 15% to our guests. You just need to use the code "Emily Toby wedding" when booking over the phone.</p>
<p>Other accomodation options in the local area include:</p>
<p>Richmond Hill Hotel</p>
<p>Travelodge London Richmond Hotel</p>
<p>Kingston Lodge Hotel</p>
<p>...and there are plenty of options on Airbnb</p>
