<h1>Q & A</h1>
<h3> Your burning questions answered...</h3>
<br/>
<div class="card">
  <div class="card-header bg-info text-white">
    When do I need to RSVP by?
  </div>
  <div class="card-body">
    <p class="card-text">31st March 2019</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Is there parking? Do I have to pay?
  </div>
  <div class="card-body">
    <p class="card-text">There is a large public car park next to Pembroke Lodge which is free of charge.</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Your venue is really far, do you know any local taxi companies?
  </div>
  <div class="card-body">
    <p class="card-text">Yes of course, here's a small selection:</p>
    <p>
      <a class="btn btn-outline-info" href="http://crowncarssurrey.co.uk/">Crown Cars</a>
      <a class="btn btn-outline-info" href="http://www.richmond-taxis.co.uk/">Richmond Taxis</a>
      <a class="btn btn-outline-info" href="http://www.riverside-cars.com/">Riverside Cars</a>
    </p>
    <p>...and of course there's always Uber!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    I really want to buy you a present, what do you need?
  </div>
  <div class="card-body">
    <p class="card-text">Your presence on our big day is more than enough! <em>However</em> if you must insist then as we have been together for 10 years already, we have all the pots and pans we need, so a little contribution to our honeymoon trip instead would be greatly appreciated!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    What time will the wedding finish? I don't want it to end!
  </div>
  <div class="card-body">
    <p class="card-text">Carriages at midnight, however you're very welcome to join us for a nightcap at the Richmon Harbour Hotel bar, open until 2am!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Do you love our children?
  </div>
  <div class="card-body">
    <p class="card-text">You know we love your little ones, but to allow our guests to relax, let their hair down and enjoy themselves, we have chosen to make our special day adults only (except of course for babes in arms).</p>
  </div>
</div>
