<h1 class="page_header">Q & A</h1>
<h3> Your burning questions answered...</h3>
<br/>
<div class="card">
  <div class="card-header bg-info text-white">
    When do I need to RSVP by?
  </div>
  <div class="card-body">
    <p class="card-text">31st March 2019</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Where is this place?
  </div>
  <div class="card-body map-responsive">
    <p class="card-text">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9947.41471651528!2d-0.294449!3d51.442481!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb1666e13117cb1!2sPembroke+Lodge!5e0!3m2!1sen!2suk!4v1549723575397" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Is there parking at the venue?
  </div>
  <div class="card-body">
    <p class="card-text">There is a large public car park next to Pembroke Lodge which is free of charge.</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Do you know any local taxi companies?
  </div>
  <div class="card-body">
    <p class="card-text">Yes of course, here's a small selection:</p>
    <div class="inline-grid">
      <a class="btn btn-outline-info" href="http://crowncarssurrey.co.uk/" target="_blank">Crown Cars</a>
      <a class="btn btn-outline-info" href="http://www.richmond-taxis.co.uk/" target="_blank">Richmond Taxis</a>
      <a class="btn btn-outline-info" href="http://www.riverside-cars.com/" target="_blank">Riverside Cars</a>
    </div>
    <p>...and there's always Uber!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Is there anything you need when it comes to gifts?
  </div>
  <div class="card-body">
    <p class="card-text">Your presence on our big day is more than enough! <em>However</em>, if you must insist, then, as we have been together for 10 years already, we have all the pots and pans we need. So a little contribution to our honeymoon trip instead would be greatly appreciated!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    What time will the wedding finish? I don't want it to end!
  </div>
  <div class="card-body">
    <p class="card-text">Carriages at midnight, <em>however</em> you're very welcome to join us for a nightcap at the Richmond Harbour Hotel bar, open until 2am!</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Are children invited?
  </div>
  <div class="card-body">
    <p class="card-text">You know we love your little ones, but to allow our guests to relax, let their hair down and enjoy themselves, we have chosen to make our special day adults only (except of course for babes in arms). We hope this doesn’t cause you too much trouble and that you can still join us.</p>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info text-white">
    Oh what<%= link_to "!", pages_gam_path %> My question isn't answered here, help!
  </div>
  <div class="card-body">
    <p class="card-text">Please send an email to <%=mail_to "tobily2019@gmail.com" %> and we'll get back to you ASAP</p>
  </div>
</div>
