<div class="hero-image">
  <div class="hero-text">
    <h1>We're getting hitched!!</h1>
    <br/>
    <h3>Toby & Emily's Wedding</h3>
  </div>
</div>
<p style="text-align: center;">
  <br/>
  <br/>
  We are delighted to invite you to our wedding this summer and hope you can join us to celebrate!!
  <br/>
  <br/>
  <strong>Friday 30th August 2019</strong>
  <br/>
  <br/>
  3.00pm
  <br/>
  <br/>
  <strong>Pembroke Lodge, Richmond Park TW10 5HX</strong>
  <br/>
  <br/>
  <%= link_to "Please RSVP", new_guest_path %>
</p>
