<div class="jumbotron">
  <br/>
  <br/>
  <%= image_tag "white_logo.png", class: "img-fluid mx-auto d-block"%>
  <br/>
  <br/>
</div>
<p style="text-align: center;">
  We're getting hitched!
  <br/>
  <br/>
  We are delighted to invite you to our wedding this summer and hope you can join us to celebrate!!
  <br/>
  <br/>
  <strong>Friday 30th August 2019</strong>
  <br/>
  <br/>
  3.00pm
  <br/>
  <br/>
  <strong>Pembroke Lodge, Richmond Park TW10 5HX</strong>
  <br/>
  <br/>
  <%= link_to "Please RSVP", new_guest_path, class: "btn btn-outline-info" %>
</p>
<br/>
<br/>
