<div class="jumbotron">
  <h1 style="text-align: center;" class="display-4 text-white">We're getting hitched!!</h1>
  <hr class="my-4">
  <p style="text-align: center;" class="lead text-white">Toby & Emily's Wedding</p>
</div>
<p style="text-align: center;">
  We are delighted to invite you to our wedding this summer and hope you can join us to celebrate!!
  <br/>
  <br/>
  <strong>Friday 30th August 2019</strong>
  <br/>
  <br/>
  3.00pm
  <br/>
  <br/>
  <strong>Pembroke Lodge, Richmond Park TW10 5HX</strong>
  <br/>
  <br/>
  <%= link_to "Please RSVP", new_guest_path, class: "btn btn-outline-info" %>
</p>
<br/>
<br/>
