<div class="jumbotron">
  <br/>
  <br/>
  <%= image_tag "white_logo.png", class: "img-fluid mx-auto d-block"%>
  <br/>
  <br/>
</div>
<p class="text-center">
  We are delighted to invite you to our wedding this summer and hope you can join us to celebrate!!
  <br/>
  <br/>
</p>
<p class="text-center date">
  Friday 30th August 2019
  <br/>
</p>
<p class="text-center time">
  Guests arrive 2.30pm
  <br/>
  Ceremony 3.00pm
  <br/>
</p>
<p class="text-center">
  <strong>Pembroke Lodge, Richmond Park TW10 5HX</strong>
  <br/>
  <br/>
  <%= link_to "Please RSVP", new_guest_path, class: "btn btn-outline-info" %>
</p>
<br/>
<br/>
