// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* The hero image */
.jumbotron {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("pembroke_lodge.jpg");

  /* Set a specific height */
  // height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a.btn-outline-info {
  margin-bottom: 10px;
}

.inline-grid {
  display: inline-grid;
}

.date {
  font-size: 1.3rem;
}

.time {
  font-size: 1.2rem;
}
